.project-box {
  display: inline-block;
  width: 300px;
  height: 500px;
  margin: 10px;
  border: 1px solid #FCEBE3;
}

.text-center {
  text-align: center;
}

.project-card-details {
  padding: 10px;
}

.project-tags {
  text-transform: uppercase;
  font-size: 10px;
  font-family: "Century Gothic", sans-serif;
  letter-spacing: .2em;
  padding-top: 10px;
}

