<div class="navbar">
  <!-- Logo -->
  <h2>bekah</h2>

  <!-- Right Navigation -->
  <div class="navbar-right hidden-xs hidden-sm">

    <a href="" class="navbar-link">about</a>
    <a href="" class="navbar-link">projects</a>
    <a href="" class="navbar-link">instagram</a>
</div>
