<!-- Homepage Title & Text -->
<div class="content">
  <div class="Aligner">
    <div class="Aligner-item Aligner-item--fixed">
      <h3>
        Rebekah Cheng is a <i>designer</i> &amp; <i>photographer</i> in London.
      </h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis eos doloremque placeat natus quidem saepe possimus.</p>
        <!-- <img src="images/aboutimg.jpg" alt="" width="900"> -->
    </div>
  </div>
</div>
