    <!-- Project Grid -->

  <div class="container text-center">
    <div class="project-box">
      <div class="project-card">
        <div class="project-img">
          <img src="images/cardplaceholder.png" alt="" width="294">
        </div>
        <div class="project-card-details">
          <h3>title</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. dolorum ratione libero sed nemo facere.</p>
          <p class="project-tags">Interaction Design</p>
        </div>
      </div>
    </div>

    <div class="project-box">
      <div class="project-card">
        <div class="project-img">
          <img src="images/cardplaceholder.png" alt="" width="298">
        </div>
        <div class="project-card-details">
          <h3>title</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. dolorum ratione libero sed nemo facere.</p>
          <p class="project-tags">Interaction Design</p>
        </div>
      </div>
    </div>

    <div class="project-box">
      <div class="project-card">
        <div class="project-img">
          <img src="images/cardplaceholder.png" alt="" width="294">
        </div>
        <div class="project-card-details">
          <h3>title</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. dolorum ratione libero sed nemo facere.</p>
          <p class="project-tags">Interaction Design</p>
        </div>
      </div>
    </div>

  </div>
