/* Main navbar */
.navbar {
  background: white;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* Logo */
.navbar-brand img {
  height: 50px;
}

/* Right section */
.navbar-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-link {
  color: #414141;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.3px;
}

.navbar-link:hover {
  color: #000000;
  font-style: italic;
  text-decoration: none;
  box-shadow: inset 0px -7px #FCEBE3;
}

/* Dropdown menu */
.navbar-dropdown-menu {
  margin-top: 15px;
  border-radius: 0px;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.navbar-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #414141 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 0px;
  text-align: right;

}
.navbar-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
  box-shadow: inset 0px -7px #FCEBE3!important;
  font-style: italic;
  text-decoration: none;
}

