.navbar {
  font-family: "Helvetica";
  background: transparent;
  display: flex;
  height: 70px;
  padding: 0px 30px;
  align-items: center;
  justify-content: space-between;
  text-transform: lowercase;
}
