// Graphical variables
// @import "config/variables";

@import "bootstrap-sprockets";
@import "bootstrap";

// External libraries
@import 'spectre.css';

// CSS
// @import "layout/index";
// @import "components/index";

/* Importing components */
@import url("layout/navbar.scss");
@import url("layout/footer.scss");

/* Importing layouts */
@import url("layout/homepage.scss");
@import url("layout/projects.scss");

body {
  margin: 0;
  padding: 0;
  font-family: "adobe-garamond-pro", "Georgia", "Cambria", "Times New Roman", "Times", "serif";
  font-size: 18px;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.content {
  flex: 1;
}

#id {
  font-family: "adobe-garamond-pro";
}

#logo-heart {
  color: #D23333;
}
